@import 'tailwindcss';

@import './styles/theme.css';
@import './index.css';
@import 'tw-animate-css';

/* Variants */
@custom-variant dark (&:is([data-appearance="dark"] *));
@custom-variant coarse (@media (pointer: coarse));
@custom-variant fine (@media (pointer: fine));
@custom-variant pwa (@media (display-mode: standalone));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  ---break---
*/
:root {
  --radius: 0.625rem;
  /* Aether-OS Default Dark Mode */
  --background: #030712;
  --foreground: #e2e8f0;
  --card: #0b1221;
  --card-foreground: #e2e8f0;
  --popover: #0b1221;
  --popover-foreground: #e2e8f0;
  --primary: #00f3ff;
  --primary-foreground: #000000;
  --secondary: #1a2236;
  --secondary-foreground: #94a3b8;
  --muted: #1e293b;
  --muted-foreground: #64748b;
  --accent: #ff00ff;
  --accent-foreground: #000000;
  --destructive: #ff3333;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #00f3ff;

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: #0b1221;
  --sidebar-foreground: #e2e8f0;
  --sidebar-primary: #00f3ff;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #1a2236;
  --sidebar-accent-foreground: #e2e8f0;
  --sidebar-border: #1e293b;
  --sidebar-ring: #00f3ff;
}

/*
  ---break---
*/
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* Colors - Neutral */
  --color-neutral-1: var(--color-neutral-1);
  --color-neutral-2: var(--color-neutral-2);
  --color-neutral-3: var(--color-neutral-3);
  --color-neutral-4: var(--color-neutral-4);
  --color-neutral-5: var(--color-neutral-5);
  --color-neutral-6: var(--color-neutral-6);
  --color-neutral-7: var(--color-neutral-7);
  --color-neutral-8: var(--color-neutral-8);
  --color-neutral-9: var(--color-neutral-9);
  --color-neutral-10: var(--color-neutral-10);
  --color-neutral-11: var(--color-neutral-11);
  --color-neutral-12: var(--color-neutral-12);
  --color-neutral-a1: var(--color-neutral-a1);
  --color-neutral-a2: var(--color-neutral-a2);
  --color-neutral-a3: var(--color-neutral-a3);
  --color-neutral-a4: var(--color-neutral-a4);
  --color-neutral-a5: var(--color-neutral-a5);
  --color-neutral-a6: var(--color-neutral-a6);
  --color-neutral-a7: var(--color-neutral-a7);
  --color-neutral-a8: var(--color-neutral-a8);
  --color-neutral-a9: var(--color-neutral-a9);
  --color-neutral-a10: var(--color-neutral-a10);
  --color-neutral-a11: var(--color-neutral-a11);
  --color-neutral-a12: var(--color-neutral-a12);
  --color-neutral-contrast: var(--color-neutral-contrast);

  /* Colors - Accent */
  --color-accent-1: var(--color-accent-1);
  --color-accent-2: var(--color-accent-2);
  --color-accent-3: var(--color-accent-3);
  --color-accent-4: var(--color-accent-4);
  --color-accent-5: var(--color-accent-5);
  --color-accent-6: var(--color-accent-6);
  --color-accent-7: var(--color-accent-7);
  --color-accent-8: var(--color-accent-8);
  --color-accent-9: var(--color-accent-9);
  --color-accent-10: var(--color-accent-10);
  --color-accent-11: var(--color-accent-11);
  --color-accent-12: var(--color-accent-12);
  --color-accent-contrast: var(--color-accent-contrast);

  /* Colors - Accent Secondary */
  --color-accent-secondary-1: var(--color-accent-secondary-1);
  --color-accent-secondary-2: var(--color-accent-secondary-2);
  --color-accent-secondary-3: var(--color-accent-secondary-3);
  --color-accent-secondary-4: var(--color-accent-secondary-4);
  --color-accent-secondary-5: var(--color-accent-secondary-5);
  --color-accent-secondary-6: var(--color-accent-secondary-6);
  --color-accent-secondary-7: var(--color-accent-secondary-7);
  --color-accent-secondary-8: var(--color-accent-secondary-8);
  --color-accent-secondary-9: var(--color-accent-secondary-9);
  --color-accent-secondary-10: var(--color-accent-secondary-10);
  --color-accent-secondary-11: var(--color-accent-secondary-11);
  --color-accent-secondary-12: var(--color-accent-secondary-12);
  --color-accent-secondary-contrast: var(--color-accent-secondary-contrast);

  /* Colors - FG/BG/Misc */
  --color-fg: var(--color-fg);
  --color-fg-secondary: var(--color-fg-secondary);
  --color-bg: var(--color-bg);
  --color-bg-inset: var(--color-bg-inset);
  --color-bg-overlay: var(--color-bg-overlay);
  --color-focus-ring: var(--color-focus-ring);

  /* Spacing */
  --spacing-px: var(--size-px);
  --spacing-0: var(--size-0);
  --spacing-0-5: var(--size-0-5);
  --spacing-1: var(--size-1);
  --spacing-1-5: var(--size-1-5);
  --spacing-2: var(--size-2);
  --spacing-2-5: var(--size-2-5);
  --spacing-3: var(--size-3);
  --spacing-3-5: var(--size-3-5);
  --spacing-4: var(--size-4);
  --spacing-5: var(--size-5);
  --spacing-6: var(--size-6);
  --spacing-7: var(--size-7);
  --spacing-8: var(--size-8);
  --spacing-9: var(--size-9);
  --spacing-10: var(--size-10);
  --spacing-11: var(--size-11);
  --spacing-12: var(--size-12);
  --spacing-14: var(--size-14);
  --spacing-16: var(--size-16);
  --spacing-20: var(--size-20);
  --spacing-24: var(--size-24);
  --spacing-28: var(--size-28);
  --spacing-32: var(--size-32);
  --spacing-36: var(--size-36);
  --spacing-40: var(--size-40);
  --spacing-44: var(--size-44);
  --spacing-48: var(--size-48);
  --spacing-52: var(--size-52);
  --spacing-56: var(--size-56);
  --spacing-60: var(--size-60);
  --spacing-64: var(--size-64);
  --spacing-72: var(--size-72);
  --spacing-80: var(--size-80);
  --spacing-96: var(--size-96);

  /* BorderRadius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-full: 9999px;

  /* Shadcn Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
